DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=1479951053494554736
TMUX_BIN=/home/yang0/.local/bin/tmux
TMUX_SESSION=oc_backup
TMUX_WINDOW=0
TMUX_PANE=0
CHECK_INTERVAL_SEC=5
PROGRESS_INTERVAL_SEC=300
PROGRESS_CAPTURE_LINES=220
COMPLETION_LINES=100
STATE_PATH=./state/bridge_state.json
